


* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

.nav-bar {
    height: 69px;
    border-bottom: solid 1px;
    position: fixed;
    width: 100%;
}

.logo {
    margin: 10px;
    height: 50px;
    float: left;
}

.anchors { /*how do I get gaps between links?*/
    text-decoration: underline;
    list-style: none;
    width: 33.3%;
    text-align: center;
    display: inline;
    float: right;
    margin-top: 19px;
}

